html {
    background-color: #3232AA;
}
#app {
    background-color: #3232AA;
    height: 100%;
    width: 100%;
}
#header {
    display: block;
    align-items: center;
    background-color: #F63440;
    -webkit-box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
}
#header h1 {
    font-family: 'Londrina Outline', cursive;
    color: #F63440;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    background-color: #3232AA;
    width: 45%;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
}
#header hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
}
#search {
    width: 80%;
    display: block;
    margin: 100px auto;
}
span.input-group {
    width: 100%;
}
input.search-input.form-control {
    border: 1px solid #3F51B5;
}
button.search-submit.btn.btn-primary {
    /* margin-top: 20px; */
    display: block;
    margin: 20px auto;
}
.userProfile {
    color: #FCFCFC;
}
.username {
    font-size: 44px;
    text-align: center;
}
.userlocation {
    text-align: center;
    font-size: 26px;
}
.userblog {
    font-size: 28px;
    color: blueviolet;
    text-align: center;
}
.userbio {
    font-size: 22px;
    text-align: center;
}
.userfollowing, .userfollowers, .userrepo, .usergist {
    font-size: 18px;
}
@media screen and (min-width: 701px) and (max-width: 1025px){
    .userrepo {
        text-align: center;
    }
}

/*Mobile styling */
@media screen and (max-width: 700px) {

    #header h1 {
        font-family: 'Londrina Outline', cursive;
        color: #FF5252;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        background-color: #3F51B5;
        width: 65%;
        margin: 0 auto;
        height: 55px;
        -webkit-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 9px 9px 9px -3px rgba(0, 0, 0, 0.75);
    }
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
   .userimage {
        width: 250px;
        height: 250px;
        display: block;
        margin-left: 27%;
   }
    .username{
        text-align: center;
        font-size: 21px;
    }
    .userlocation {
    text-align: center;
    font-size: 18px;
    }
    .userblog {
    font-size: 17px;
    color: blueviolet;
    text-align: center;
    }
    .userbio {
    font-size: 16px;
    margin-left: 10%;
    }
    .userfollowing, .userfollowers{
        text-align: center;
    }
    .userrepo, .usergist{
        text-align: center;
    }
    
}
