html {
    background-color: #3232AA;
}
#app {
    background-color: #3232AA;
    height: 100%;
    width: 100%;
}
#header {
    display: block;
    align-items: center;
    background-color: #F63440;
    -webkit-box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
}
#header h1 {
    font-family: 'Londrina Outline', cursive;
    color: #F63440;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    background-color: #3232AA;
    width: 45%;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
}
#header hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
}
#search {
    width: 80%;
    display: block;
    margin: 100px auto;
}
span.input-group {
    width: 100%;
}
input.search-input.form-control {
    border: 1px solid #3F51B5;
}
button.search-submit.btn.btn-primary {
    /* margin-top: 20px; */
    
    display: block;
    margin: 20px auto;
}
.user-bio-container {
    margin-top: 25px;
}

.user-bio-container img {
    vertical-align: middle;
    width: 350px;
    height: 350px;
    float: left;
    margin-left: 45px;
    border: 2px solid #fcfcfc;
}
.user-name {
    font-size: 55px;
    text-align: center;
    width: 75%;
}
.user-location {
    width: 75%;
    font-size: 33px;
    text-align: center;
}
/*Tablet styling */
@media screen and (min-width: 651) and (max-width: 1024px) {
    img {
        width: 250px;
        height: 250px;
        display: block;
        float: left;
    }
    .user-name {
        text-align: center;
        font-size: 55px;
    }
    .user-location {
        display: inline-block;
        margin-left: 35px;
        width: 25%;
        font-size: 21px;
    }
    .user-blog {
        display: inline-block;
        width: 25%;
        margin-left: 20px;
        text-align: center;
        font-size: 21px
    }
    .user-bio {
        text-align: center;
        width: 90%;
        display: block;
        margin: 10px auto;
    }
    .following,
    .followers {
        width: 20%;
        display: inline-block;
        margin-left: 22px;
        font-size: 20px;
        text-align: center;
    }
    .user-gist,
    .user-repos {
        width: 20%;
        display: inline-block;
        margin-left: 22px;
        font-size: 25px;
        text-align: center;
        margin-top: 25px;
    }
}
/*Mobile styling */
@media screen and (max-width: 500px) {
    #header h1 {
        font-family: 'Londrina Outline', cursive;
        color: #FF5252;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        background-color: #3F51B5;
        width: 65%;
        margin: 0 auto;
        height: 55px;
        -webkit-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 9px 9px 9px -3px rgba(0, 0, 0, 0.75);
    }
    .search-form {
        text-align: center;
        width: 65%;
        margin: 22% auto;
        border: 1px solid black;
        height: 300px;
        border-radius: 10px;
        padding: 10%;
        background: #FCFCFC;
    }
    .search-input {
        display: block;
        margin: 0 auto;
        width: 85%;
    }
    .search-submit {
        margin-top: 25px;
    }
    .user-name {
        text-align: center;
    }
    .profile-container {
        width: 100%;
        color: #FCFCFC;
    }
    .profile-container img {
        height: 250px;
        width: 250px;
        display: block;
        margin: 0 auto;
        border: 1px solid #FCFCFC;
    }
    .user-bio {
        width: 85%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .user-location {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }
    .user-blog {
        text-align: center;
        margin-bottom: 7px;
    }
    .following,
    .followers {
        width: 40%;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }
    .following {
        margin-left: 15px;
        text-align: right;
    }
    .repo-gist-container {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    .user-repos,
    .user-gist {
        width: 20%;
        text-align: center;
    }
    .user-repos {
        margin-left: 90px;
    }
    .user-gist {
        margin-left: 25px;
    }
}
