body {
    margin: 0;
    background-color: #1F2229;
}
a {
    color: #fcfcfc;
    text-decoration: none;
}
span {
    color: #269F42;
}

#header {
    display: block;
    align-items: center;
    background-color: #1F2229;
    height: 46px;
    padding: 4px;
    opacity: .9;
}
#header h1 {
    font-family: 'Roboto Slab', serif;
    color: #fcfcfc;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    height: 55px;
}

#search {
    width: 60%;
    height: 140px;
    display: block;
    margin: 95px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #1F2229;
    /* opacity: .9; */
}
.searchinput {
    width: 34%;
    display: block;
    margin: 25px auto;
    height: 18px;
    border-bottom: 1px solid #269F42;
    border-top: none;
    border-radius: 4px;
    padding: 3px;
    background-color: #1F2229;
    border-top: 1px solid #1F2229;
    border-left: 1px solid #1F2229;
    border-right: 1px solid #1F2229;
    color: #269F42;
    font-size: 15px;
}
.submit {
    width: 21%;
    display: block;
    margin: 0 auto;
    height: 25px;
    border: 1px solid #269F42;
    background-color: #269F42;
    font-size: 15px;
    border-radius: 5px;
    color: #fcfcfc;
    }
input {
 outline:none;
}
.git-svg {
    width: 100%;
    /* display: block; */
    /* margin: 0 auto; */
    margin-left: 8%;
}
.imageContainer {
    width: 45%;
    display: block;
    margin: 55px auto;
}
.userimg {
    width: 45%;
    display: block;
    margin: 0 auto;
}
.profileContainer {
    width: 60%;
    display: block;
    color: #fcfcfc;
    margin: 0 auto;
}
.username {
    font-size: 45px;
    margin-bottom: 46px;
    text-align: center;
}
.userlocation {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 45%;
    text-align: center;
    display: inline-block;
}
.userblog {
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 15px;
    width: 45%;
    display: inline-block;
    text-align: center;
    margin-left: 8%;
}
.userbio {
    font-size: 18px;
    margin-top: 5px;
    width: 65%;
    display: block;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 11%;
}
.userstats {
    float: right;
    display: inline-block;
    width: 100%;
    }
    .following {
    float: left;
    /* margin-right: 50px; */
    text-align: center;
    margin-left: 13%;
    font-size: 22px;
    }
    .homeLink {
    margin-top: 100px;
    margin-left: 25px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    }
@media screen and (min-width: 701px) and (max-width: 1020px) {
    #search {
        width: 51%;
        height: 135px;
        display: block;
        margin: 95px auto;
        padding: 5px;
    }
    .searchinput {
        width: 60%;
        margin: 24px auto;
        display: block;
        padding: 3px;
    }
    .submit {
        width: 25%;
        margin: 0 auto;
        display: block;
    }

}
/*Mobile styling */

@media screen and (max-width: 700px) {
    #header h1 {
        font-family: 'Roboto Slab', serif;
        color: #fcfcfc;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        width: 65%;
        margin: 0 auto;
        height: 55px;
    }
    #search {
    width: 60%;
    height: 140px;
    display: block;
    margin: 95px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #1F2229;
}
    .searchinput {
    width: 75%;
    display: block;
    margin: 25px auto;
    height: 18px;
    border-bottom: 1px solid #269F42;
    border-top: none;
    border-radius: 4px;
    padding: 3px;
    background-color: #1F2229;
    border-top: 1px solid #1F2229;
    border-left: 1px solid #1F2229;
    border-right: 1px solid #1F2229;
    color: #269F42;
    font-size: 15px;
    }
    .submit {
    width: 40%;
    display: block;
    margin: 0 auto;
    height: 25px;
    border: 1px solid #269F42;
    background-color: #269F42;
    font-size: 15px;
    border-radius: 5px;
    color: #fcfcfc;
    }
    .userimg {
    width: 98%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    }
    .username {
    font-size: 34px;
    margin-bottom: 46px;
    text-align: center;
    }
    .userlocation {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 45%;
    text-align: center;
    display: inline-block;
    }
    a {
    color: #fcfcfc;
    text-decoration: none;
    }
    .userbio {
    font-size: 24px;
    margin-top: 5px;
    width: 80%;
    display: block;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 11%;
    }
    .following {
    float: left;
    margin-right: 0px;
    text-align: center;
    margin-left: 3%;
    font-size: 18px;
    }
    .profileContainer {
    width: 90%;
    display: block;
    color: #fcfcfc;
    margin: 0 auto;
    }
    .userblog{
        font-size: 16px;
    }
    span {
    color: #269F42;
    }
}
