.imageDiv {
  width: 80%;
  margin: 20px auto;
}
.imageDiv img {
  width: 20%;
  margin: 0 auto;
  display: block;
}
.imageDiv h1 {
  text-align: center;
}
.buttonDiv {
  width: 45%;
  display: inline-block;
  /* margin: 25px auto; */
  margin-left: 3%;
  margin-top: 5%;
}
button.ui.purple.button.contentBtn {
  width: 80%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.cardDiv {
  width: 50%;
  display: inline-block;
  margin: 0 auto 24px;
}
.ui.two.column.grid.repodiv {
  width: 90%;
  display: block;
  margin: 25px auto;
  padding: 1%;
}
img.ui.small.image.userimage {
  margin: 26px auto;
}
.ui.header.username {
  color: white;
  text-align: center;
  font-size: 24px;
}
.ui.list.userbio {
    width: 80%;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
}